BZ_RV4TJX/BZ_munkafajlok/RV4TJX_1006/nevjegykartya.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nevjegykartyak" type="nevjegykartyakType"/>
  <xs:complexType name="cimType">
    <xs:sequence>
      <xs:element type="xs:string" name="iranyitoszam"/>
      <xs:element type="xs:string" name="varos"/>
      <xs:element type="xs:string" name="utca"/>
      <xs:element type="xs:string" name="hazszam"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="telefonszamType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="korzet" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="cegType">
    <xs:sequence>
      <xs:element type="cimType" name="cim"/>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="telefonszamType" name="telefonszam"/>
      <xs:element type="xs:string" name="weblap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nevjegykartyaType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="cegType" name="ceg"/>
      <xs:element type="xs:string" name="beosztas"/>
      <xs:element type="telefonszamType" name="telefonszam"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nevjegykartyakType">
    <xs:sequence>
      <xs:element type="nevjegykartyaType" name="nevjegykartya"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>